<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Привет, <%= user %>!</h1>
    <a href="/myblog">Мой блог</a> | <a href="/newpost">Создать новый пост</a> | <a href="/otherblogs">Блоги других пользователей</a> | <a href="/logout">Выйти</a>
</body>
</html>
